<mat-list>
  <mat-list-item>
    <button mat-button routerLink="/home" routerLinkActive="active" [disabled]="!authService.isAuthenticated()">
      <mat-icon>home</mat-icon>
      <mat-label>
        Home
      </mat-label>
    </button>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <button mat-button routerLink="/groups" routerLinkActive="active" [disabled]="!authService.isAuthenticated()">
      <mat-icon>format_list_numbered</mat-icon>
      <mat-label>
        Groups
      </mat-label>
    </button>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <button mat-button routerLink="/knockout" routerLinkActive="active" [disabled]="!authService.isAuthenticated()">
      <mat-icon>device_hub</mat-icon>
      <mat-label>
        Knockout
      </mat-label>
    </button>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <button mat-button routerLink="/standings" routerLinkActive="active" [disabled]="!authService.isAuthenticated()">
      <mat-icon>poll</mat-icon>
      <mat-label>
        Standings
      </mat-label>
    </button>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <button mat-button routerLink="/my-page" routerLinkActive="active" [disabled]="!authService.isAuthenticated()">
      <mat-icon>person</mat-icon>
      <mat-label>
        My Page
      </mat-label>
    </button>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item *ngIf="authService.isAdmin()">
    <button mat-button routerLink="/setup-page" routerLinkActive="active" [disabled]="!authService.isAuthenticated()">
      <mat-icon>build</mat-icon>
      <mat-label>
        Setup Page
      </mat-label>
    </button>
  </mat-list-item>
  <mat-divider></mat-divider>
</mat-list>
