.app-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    padding-left: 250px;
    padding-right: 0;
    transition: padding-left 225ms cubic-bezier(.4,0,.2,1);
    transition: padding-right 225ms cubic-bezier(.4,0,.2,1);
    height: 100%;
}

.content.no-menu {
    padding-left: 125px;
    padding-right: 125px;
    transition: padding-left 225ms cubic-bezier(.4,0,.2,1);
    transition: padding-right 225ms cubic-bezier(.4,0,.2,1);
    height: 100%;
}

.drawer-content {
    width: 250px;
}

.mat-drawer-container {
    flex: 1;
}

