.app-container {
    height: 100vh;
    min-width: 360px;
    display: flex;
    flex-direction: column;
}

.content {
    padding-left: 250px;
    padding-right: 0;
    transition: padding-left 225ms cubic-bezier(.4,0,.2,1);
    transition: padding-right 225ms cubic-bezier(.4,0,.2,1);
    height: 100%;
}

.drawer-content {
    width: 250px;
}

.mat-drawer-container {
    flex: 1;
}

@media (max-width: 1200px) {
  .content {
      padding: 0;
  }
  .content.no-menu {
    padding: 0;
  }
}