<div mat-dialog-content>
  <h1 mat-dialog-title color="primary">Register</h1>

  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput placeholder="Enter your name" [formControl]="name" required>
  </mat-form-field>
  <mat-error *ngIf="name.invalid">{{getNameErrorMessage()}}</mat-error>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput placeholder="Enter your email" [formControl]="email" required>
  </mat-form-field>
  <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput placeholder="Enter your password" [formControl]="password" required type="password">
  </mat-form-field>
  <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
  <mat-form-field>
    <mat-label>Reference</mat-label>
    <input matInput placeholder="How did you hear about us?" [formControl]="reference" required>
  </mat-form-field>
  <mat-error *ngIf="reference.invalid">{{getReferenceErrorMessage()}}</mat-error>
</div>
<div mat-dialog-actions>
  <div class="dialog-buttons">
    <button mat-button (click)="cancel()">Cancel</button>
    <button mat-button (click)="register()" [disabled]="password.invalid || password.invalid">Confirm</button>
  </div>
</div>
