<div mat-dialog-content (keyup.enter)="login()">
  <h1 mat-dialog-title color="primary">Login</h1>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput placeholder="Enter your email" [formControl]="email" required>
  </mat-form-field>
  <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput placeholder="Enter your password" [formControl]="password" required type="password">
  </mat-form-field>
  <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
</div>
<div mat-dialog-actions>
    <div class="login-error">
        <mat-error *ngIf="loginError">{{loginError}}</mat-error>
    </div>
  <div class="dialog-buttons">
    <button mat-button (click)="cancel()">Cancel</button>
    <button mat-button (click)="login()" [disabled]="email.invalid || password.invalid">Confirm</button>
  </div>
  <div class="dialog-buttons">
    <button mat-button (click)="register()" color="primary">Request an Account</button>
  </div>
</div>
